@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


html {
    background-color: #fefefe;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .container-list {
    margin: 50px auto 0;
    width: 700px;
  }

  .container-event{
    margin: 50px auto 0; 
  }
  
  .u-float-right {
    float: right;
  }
  
  .u-flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .subtle {
    color: #888;
    font-size: 12px;
  }
  
  .card-media {
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
    height: 140px;
    margin-bottom: 25px;
    transition: all 300ms ease-out;
    width: 100%;
  }

  .card-shadow{
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
    transition: all 300ms ease-out;
    border: none;
  }

  .card-shadow:hover {
    box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
  }
  
  .card-media:hover {
    box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
  }
  
  .card-media-object-container {
    background: none;
    float: left;
    height: 100%;
    width: 35%;
    position: relative;
  }
  
  .card-media-object {
    background-position: center center;
    background-size: cover;
    height: 100%;
  }
  
  .card-media-object:after {
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 300ms ease-out;
    z-index: 10;
  }
  
 
  
  .card-media-object-tag {
    background-color: #fff;
    border-radius: 2px;
    padding: 2px 7px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
   
  
  .card-media-object-social-list-item-additional {
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    padding-top: 7px;
    text-align: center;
  }
  
  .card-media-body {
    background-color: #fff;
    float: left;
    height: 100%;
    padding: 12px 15px;
    position: relative;
    width: 65%;
  }
  
  .card-media-body-top {
    display: block;
  }
  
   
  
  .card-media-body-heading {
    display: block;
    margin-top: 10px;
    font-weight: 700;
  }
  
  .card-media-body-supporting-bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    opacity: 1;
    padding: 0 15px;
    transition: all 300ms ease-out;
    width: 100%;
  }
  
 
  .card-media-body-supporting-bottom-text {
    display: inline-block;
  }
  
  .card-media-body-supporting-bottom-reveal {
    opacity: 0;
    transform: translateY(8px);
    transition: all 300ms ease-out;
  }
  
  .card-media:hover .card-media-body-supporting-bottom-reveal {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card-media-link {
    color: #41C1F2;
    text-decoration: none;
  }

  .product-list li{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .product-list li:last-child{ 
    border-bottom: none;
  }

  .product-list li .btn{
    min-width: 155px;
  }

  .chatbox{
      .media{
          margin-bottom: 10px;
          img{
              border-radius: 50%;
              box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
          }
      }
  }
 
  .no-event-notice{
    text-align: center;
      background: rgba(0,0,0,0.8);
      h1,h5{
          color: #FFF !important;
          text-align: center;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 500px;
      width: 100%;
  }

  #exampleFormControlTextarea1{
      min-height: 52px;
  }