@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  background-color: #fefefe;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container-list {
  margin: 50px auto 0;
  width: 700px;
}

.container-event {
  margin: 50px auto 0;
}

.u-float-right {
  float: right;
}

.u-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subtle {
  color: #888;
  font-size: 12px;
}

.card-media {
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  height: 225px;
  margin-bottom: 25px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  width: 100%;
}

.card-shadow {
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  border: none;
}

.card-shadow:hover {
  -webkit-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
}

.card-media:hover {
  -webkit-box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
}

.card-media-object-container {
  background: none;
  float: left;
  height: 100%;
  width: 35%;
  position: relative;
}

.card-media-object {
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.card-media-object:after {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  z-index: 10;
}

.card-media-object-tag {
  background-color: #fff;
  border-radius: 2px;
  padding: 2px 7px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-media-object-social-list-item-additional {
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  padding-top: 7px;
  text-align: center;
}

.card-media-body {
  background-color: #fff;
  float: left;
  height: 100%;
  padding: 12px 15px;
  position: relative;
  width: 65%;
}

.card-media-body-top {
  display: block;
}

.card-media-body-heading {
  display: block;
  margin-top: 10px;
  font-weight: 700;
}

.card-media-body-supporting-bottom {
  position: absolute;
  bottom: 10px;
  left: 0;
  opacity: 1;
  padding: 0 15px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  width: 100%;
}

.card-media-body-supporting-bottom-text {
  display: inline-block;
}

.card-media-body-supporting-bottom-reveal {
  opacity: 0;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.card-media:hover .card-media-body-supporting-bottom-reveal {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-media-link {
  color: #41C1F2;
  text-decoration: none;
}

.product-list li {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product-list li:last-child {
  border-bottom: none;
}

.product-list li .btn {
  min-width: 155px;
}

.chatbox .media {
  margin-bottom: 10px;
}
.chatbox .media img {
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.no-event-notice {
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  width: 100%;
}
.no-event-notice h1, .no-event-notice h5 {
  color: #FFF !important;
  text-align: center;
}

#exampleFormControlTextarea1 {
  min-height: 52px;
}
