@media(min-width:768px){.elementor-2042 .elementor-element.elementor-element-e7bbb64{width:16.66666667%;}.elementor-2042 .elementor-element.elementor-element-55f5036{width:65.998%;}.elementor-2042 .elementor-element.elementor-element-69251fb{width:16.66666667%;}}